body {
    background: linear-gradient(to right top, rgb(255, 0, 68), rgb(192, 52, 227), rgb(121, 69, 218));
}

img {
    border-radius: 80px;
    padding-right: 15px;
}

.header_div {
    background: white;
    color: #ce2700;
}

.header_div p {
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149 );
}